<!DOCTYPE html>
<html>
  <head>
    <title>Battleship</title>
    <link href="css/bootstrap.min.css" rel="stylesheet"/>
    <link href="css/style.css" rel="stylesheet"/>
  </head>
  <body>
    <div class="container">      
      <div id="game">
      <h2>Battleship</h2>
      <div v-if="room != null && isHost" class="form-group">
        <label class="control-label" for="share">Share this URL with a friend</label>
        <input style="width: 250px;" class="form-control input-sm" onClick="this.select();" value="{{room}}" type="text" id="share">
      </div>
      <h4 v-else>You joined a room.</h4><h4 style="display:inline;" v-show="opponentReady && ready && canFire" >Your turn</h4><h4 style="display:inline;"  v-show="opponentReady && ready && !canFire" >Opponent's turn</h4>
      <div class="row">
      	<div class="col-md-4">
          
      		<h4>Your board <span v-show="!ready">Not ready</span><span v-else>Ready</span></h4>
        	<board :cols="10" :rows="10"></board>
        	 	
        </div>
        <div class="col-md-4">
        <h4>Opponent's board {{statusMessage}}</h4>
        	<opponent-board :cols="10" :rows="10"></board>   
        </div>
        <div class="col-md-4">
            <div class="well bs-component">
              <form v-on:submit.prevent="sendMessage" class="form-horizontal">
                <fieldset>
                  <legend>Chat</legend>
                  <div class="form-group">
                  <div class="col-lg-12">
                    <ul id="messages" style="width:100%;height:200px;">
                    </ul>
                    </div>
                    <div class="col-lg-9">
                      <input type="text" class="form-control chatmessage" placeholder="Message">
                    </div>
                    <button type="submit" class="btn btn-primary">Send</button>
                  </div>
                </fieldset>
              </form>
          </div>
		</div>
        <div class="col-md-4">
        <h3>Your ships <button @click="rotated = !rotated" type="button" class="btn btn-default btn-xs">Rotate ship {{rotated ? 'vertical' : 'horizontal'}}</button></h3>
        <p v-for="ship in ships">
        <button @click="setSelectedShip(ship)" :disabled="ship.amount == 0" type="button" class="btn btn-default btn-xs">Select</button> {{ ship.type }} {{ ship.amount}}x</p>
        </div>
      
      </div>
      <template id="board-template">
      		<table border="1">
	        	<tr v-for="i in rows+1">
              <template v-for="n in cols+1">
                <td v-if="n == 0">{{ i == 0 ? '' : i}}</td>
                <td v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
                <td @click="placeShip($event)" 
                    data-cords="{{i + '' + n}}" 
                    v-on:mouseleave="setDef($event)" 
                    v-on:mouseover="changeStyle($event)" 
                    class="tile" 
                    v-if="i > 0 && n != cols">
                      <img 
                           src="https://i.ya-webdesign.com/images/perfect-circle-png-2.png" 
                           width="100%" 
                           height="100%" 
                           data-cords="{{i + '' + n}}_img"></td>
              </template>
	        	</tr>
        	</table>
      </template>
      <template id="opponent-board-template">
      		<table border="1">
	        	<tr v-for="i in rows+1">
              <template v-for="n in cols+1">
                <td v-if="n == 0">{{ i == 0 ? '' : i}}</td>
                <td v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
                <td @click="fire($event)" data-opcords="{{i + '' + n}}" data-hittable="true" class="tile" v-if="i > 0 && n != cols"></td>
              </template>	        		
	        	</tr>
        	</table>
      </template>
    </div>
  </body>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
  <script type="text/javascript" src="/vue/dist/vue.js"></script>
  <script type="text/javascript" src="/js/ship.js"></script>
</html>