<!DOCTYPE html>
<html>

<head>
  <script src="https://unpkg.com/vue/dist/vue.js"></script>
  <script src="https://unpkg.com/vue-router/dist/vue-router.js"></script>
  <title>Battleship</title>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
  </script>
  <script src="/socket.io/socket.io.js"></script>
  <link href="css/pages.css" rel="stylesheet" />
</head>

<body>
  <div class="container">
    <div id="game">
      <div id='app'>
        <router-view></router-view>
      </div>
      <div class="gameContainer" >
        <div class="gameHeader" v-if="room != null && isHost">
          <div class="gameLogo"><img style="height: 200px;"
              src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/logotipo.svg"></div>
          <div class="playTogether"><label style="padding-bottom: 20px; margin-right: 5px;" class="control-label"
              for="share">Compartilhe para Jogar com um companheiro</label>
            <input style="width: 250px;border: 2px solid darkslategray;" class="form-control input-sm" onClick="this.select();" value="{{room}}"
              type="text" id="share"></div>
          <h4 style="display:inline;" v-show="opponentReady && ready && canFire">Your turn</h4>
          <h4 style="display:inline;" v-show="opponentReady && ready && !canFire">Opponent's turn</h4>
        </div>
        <div class="blackScreen">
          <div class="gameBoards">
            <div class="gameGrids">
              <div class="playerBoard">
                <h4>Seu Campo está<span v-show="!ready"> com navios pendentes</span><span v-else> pronto</span></h4>
                <board :cols="10" :rows="10" :ship="viking"></board>
              </div>
              <div class="opponentBoard">
                <h4>Campo do Oponente({{statusMessage}})</h4>
                <opponent-board :cols="10" :rows="10">
                  </board>
              </div>
            </div>
            <div class="messageChat">
              <div class="well bs-component">
                <form v-on:submit.prevent="sendMessage" class="form-horizontal">
                  <fieldset style="background-color:black;border: 2px solid darkslategray;">
                    <legend style="color:white;">Conversa com o Inimigo</legend>
                    <div class="form-group">
                      <ul id="messages" style="width:100%;height:400px; color:darkslategray; ">
                      </ul>
                      <input type="text" class="form-control chatmessage"
                        style="background-color: black;border: 2px solid darkslategray;" placeholder="Mandar Menssagem">
                      <button type="submit" class="btn btn-primary"
                        style="background-color: darkslategray;">Enviar</button>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
          </div>
          <div v-show="!ready" class="shipPlacement">
            <div class="shipSelection">
              <div class="shipSelectionFirstRow">
                <h3>Navios Pendentes <button class="btnshipSelection" @click="rotated = !rotated" type="button">Rodar
                    navio para a
                    {{rotated ? 'vertical' : 'horizontal'}}</button></h3>
              </div>
              <div class="shipSelectionSecondRow">
                <div v-for="ship in ships">
                  <button class="btnshipSelection" @click="setSelectedShip(ship)" :disabled="ship.amount == 0"
                    type="button" v-show="ship.amount > 0">Colocar um {{ ship.type }}</button> </div>
              </div>
            </div>
            <div class="themeSelection">
              <img id="themePreview" class="themePreview"
                src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/basico-3/basico3.png">
              <div class="dropdownButton">
                <div class="dropdown">
                  <button class="dropbtn">Temas</button>
                  <div class="dropdown-content">
                    <a onclick="changeThemeTo('basico')">Tema Básico</a>
                    <a onclick="changeThemeTo('viking')">Tema Viking</a>
                    <a onclick="changeThemeTo('floresta')">Tema Florestal</a>
                    <a onclick="changeThemeTo('infernal')">Tema Infernal</a>
                    <a onclick="changeThemeTo('pirata')">Tema Pirata</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <template id="board-template">
          <table border="1" :key="componentKey">
            <tr v-for="i in rows+1">
              <template v-for="n in cols+1">
                <td v-if="n == 0">{{ i == 0 ? '' : i}}</td>
                <td v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
                <td @click="placeShip($event)" data-cords="{{i + '' + n}}" v-on:mouseleave="setDef($event)"
                  v-on:mouseover="changeStyle($event)" class="tile" v-if="i > 0 && n != cols">
                  <img width="45px" height="45px" style="display: none;" data-cords="{{i + '' + n}}_img"></td>
              </template>
            </tr>
          </table>
        </template>
        <template id="opponent-board-template">
          <table border="1">
            <tr v-for="i in rows+1">
              <template v-for="n in cols+1">
                <td v-if="n == 0">{{ i == 0 ? '' : i}}</td>
                <td v-if="i == 0 && n != 0">{{ n | convertChar }}</td>
                <td @click="fire($event)" data-opcords="{{i + '' + n}}" data-hittable="true" class="tile"
                  v-if="i > 0 && n != cols"></td>
              </template>
            </tr>
          </table>
        </template>
      </div>
    </div>
    <p style="color: lightslategray;text-align: right; font-size: large;">Trabalho de Eng. de Software III</p>
  </div>
  <script>
    var logged = false;
    const logoPage = {
      template: '\
    <div class="index">\
      <router-link class="logo-index" to="/home">\
        <img  src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/logotipo.svg" alt="SEA OF BATTLES">\
      </router-link>\
    </div>'
    }
    const loginPage = {
      template: '\
    <div>\
       <form id="loginForm" class="modal-content animate" >\
        <div class="imgcontainer">\
            <router-link to="/">\
                <span class="close">&times;</span>\
                <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/logo.svg" alt="SEA OF BATTLES" class="avatar-login">\
            </router-link>\
        </div>\
    \
        <div class="container">\
          <input type="text" id="loginUsername" placeholder="u s e r n a m e" name="username" minlength="4" required>\
    \
          <input type="password" id="loginPassword" placeholder="p a s s w o r d" name="psw" minlength="8" required>\
    \
          <button type="button" onclick="login()" >ENTRAR</button>\
    \
        \
            <button type="button"  class="submit-button">CADASTRE-SE</button>\
        \
        </div>\
      </form>\
    </div>\
    '
    }

    const signUpPage = {
      template: '\
    <form class="modal-content animate" action="ACAO-DE-CADASTRO.py" method="post">\
        <div class="imgcontainer">\
          <router-link to="/loginPage"><span class="close">&times;</span></router-link>\
          <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/captain.svg" class="avatar" id="imgClickAndChange" onclick="changeImage()" usemap="#SUB15" />\
          <strong><p style="color: steelblue">CLIQUE NO AVATAR PARA ALTERAR</p></strong>\
        </div>\
        <div class="container">\
          <input type="email" placeholder="e - m a i l" name="uname" required>\
    \
          <input type="text" placeholder="u s e r n a m e" name="psw" minlength="4" required>\
    \
          <input type="text" placeholder="n i c k n a m e" name="uname" minlength="8" required>\
    \
          <input type="password" placeholder="p a s s w o r d" name="psw" minlength="8" required>\
    \
          <button type="submit" class="submit-button">CONFIRMAR</button>\
        </div>\
      </form>'
    }

    const mainPage = {
      template: '\
      <div class="test">\
      <div class="sidenav"> <br>\
        <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/logo.svg" style="width: 50%; display: block; margin-left: auto; margin-right: auto"><br><br>\
        <a href="profile.html">EDITAR PERFIL</a><br><br>\
        <a href="store.html">LOJA DE BATALHA</a><br><br>\
        <a href="gold.html">COMPRAR OURO</a><br><br>\
        <a href="login.html">SAIR DO JOGO</a>\
      </div>\
    \
      <div class="btn-group" style="width: 80%; margin-left: 40%">\
        <button style="width:25%; margin-left: 60px">\
        <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/flash.png" style="cursor: default; width: 100%; display: block; margin-left: auto; margin-right: auto">\
        </button>\
        <button style="width:25%; margin-left: 60px">\
        <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/coin.png" style="cursor: default; width: 100%; display: block; margin-left: auto; margin-right: auto">\
        </button>\
      </div>\
    \
      <p> </p> <p> </p> <p> </p> <p> </p> <p> </p> <p> </p>\
    \
      <div class="btn-group" style="width:100%">\
        <button onclick="switchMode();" style="width: 40%; margin-left: 60px">\
        <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/target.svg" style="width: 80%; display: block; margin-left: auto; margin-right: auto">\
        </button>\
        <button onclick="window.location.href=\'search.html\';" style="width: 40%; margin-left: 60px">\
        <img src="https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/search.svg" style="width: 80%; display: block; margin-left: auto; margin-right: auto">\
        </button>\
      </div>\
    \
    </div>\
    '
    }
    var shipTheme = 'viking'
    const gameScreen = {
      template: '\
        '
    }

    // 2. Define some routes
    // Each route should map to a component. The "component" can
    // either be an actual component constructor created via
    // `Vue.extend()`, or just a component options object.
    // We'll talk about nested routes later.
    const routes = [{
        path: '/init',
        component: logoPage
      },
      {
        path: '/loginPage',
        component: loginPage
      },
      {
        path: '/signUpPage',
        component: signUpPage
      },
      {
        path: '/mainPage',
        component: mainPage
      },
      {
        path: '/home',
        get component() {
          if (logged) {
            return mainPage;
          } else {
            return loginPage;
          }
        }
      },
      {
        path: '/FFEE',
        component: gameScreen
      },
    ]
    // 3. Create the router instance and pass the `routes` option
    // You can pass in additional options here, but let's
    // keep it simple for now.
    const router = new VueRouter({
      mode: 'history',
      data: {
        nickname: '',
        coins: 0
      },
      routes, // short for `routes: routes`
      watch: {
          "vm.coins": function (newValue, oldValue) {
              this.coins = vm.coins;
          }
        }
    })

    // 4. Create and mount the root instance.
    // Make sure to inject the router with the router option to make the
    // whole app router-aware.
    const app = new Vue({
      router
    }).$mount('#app')
    var counter = 1;
    var gameMode = false;

    function changeImage() {
      if (counter == 0) {
        document.getElementById("imgClickAndChange").src =
          "https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/captain.svg";
        counter++;
      } else if (counter == 1) {
        document.getElementById("imgClickAndChange").src =
          "https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/pirate.svg";
        counter++;
      } else if (counter == 2) {
        document.getElementById("imgClickAndChange").src =
          "https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/imgs/viking.svg";
        counter = 0;
      }
    };

    function switchMode() {
      gameMode = !gameMode
      if (gameMode) {
        window.location.href = '/';
      }
      document.getElementById("gameScreen").style = gameMode ? 'display:block;' : 'display:none;';
      document.getElementById("app").style = gameMode ? 'display:none;' : 'display:block;';
      vm.room = 'http://127.0.0.1:3000/'
      onclick = "login()"
    };

    function login() {
      logged = true
      var socket = io();
      console.log('init login')
      console.log({'user':document.getElementById('loginUsername').value,'password':document.getElementById('loginPassword').value})
      socket.emit('login',{'user':document.getElementById('loginUsername').value,'password':document.getElementById('loginPassword').value})
      socket.on('login',function(user){
        console.log(user)
        vm.user = user.user
        vm.nickname = user.nickname
        vm.password = document.getElementById('loginPassword')
        vm.email = user.email
        console.log(user)
        for (var key in vm.ownedShips) {
          vm.ownedShips[key] = user.skin.includes(key)
        }
    }) 
      router.push('/mainPage')
    }
    function changeThemeTo(themeSelected) {
      playerHasTheme = true
      if (playerHasTheme) {
        vm.theme = themeSelected
        document.getElementById("themePreview").src =
          'https://raw.githubusercontent.com/erickcastorino/SeaOfBattles/master/Assets/' + themeSelected + '-3/' +
          themeSelected + '3.png'
      } else {
        alert('Você não possui esse tema!!')
      }
    }
  </script>
  <script type="text/javascript" src="/vue/dist/vue.js"></script>
  <script type="text/javascript" src="/js/ship.js"></script>
  <script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</body>

</html>